body {
		font-family: "Convergence", sans-serif;
		margin-left: 2vw;
		margin-right: 2vw;
	}
figcaption{
		display: block;
		margin-left: 2vw;
		margin-top: 1vw;
		font-style: italic;
	}
figure {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
h1	{	font-family: "Coda", sans-serif;
		font-size: 3em;
		text-align: center;
	}
h2	{	font-family: "Coda", sans-serif;
		font-size: 2em;
		text-align: left;
		margin-left: 2vw;
	}
img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
p {		font-family: "Convergence", sans-serif;
		font-size: 1.25em;
		margin-left: 2vw;
		margin-right: 2vw;
	}
table {	border-spacing: 1vw;
	}
td {	text-align: center;
		width: 20vw;
		height: 2em;
		background-color: gray;
		font-size: 2em;
		font-family: "Coda";
	}
.verbatim {
		font-family: "Lekton", monospace;
		font-size: 1.5em;
		font-weight: bold;
		}
a.titletext:link {color: black; text-decoration: none;}
a.titletext:visited {color: black; text-decoration: none;}
a.navlink:link {color: black; text-decoration: none;}
a.navlink:visited {color: black; text-decoration: none;}
.navlink1:hover {background-color: var(--graph-blue);}
.navlink2:hover {background-color: var(--graph-green);}
.navlink3:hover {background-color: var(--graph-yellow);}
.navlink4:hover {background-color: var(--graph-orange);}
.navlink5:hover {background-color: var(--graph-pink);}

/* colours */
:root {
	--graph-purple: #a4036f;
	--graph-blue: #048ba8;
	--graph-aqua: #16db93;
	--graph-green: #8ea604;
	--graph-yellow: #ffbf00;
	--graph-orange: #fb6107;
	--graph-pink: #d81e5b;
}
